<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">\
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navlist">
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="accounts.html">My Account</a></li>
                <li><a href="orders.html">My Orders</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="return.html">Returns</a></li>
                <li><a href="chat.html">Chat</a></li>
                <li></li>
            </ul>
        </nav>
        <div class="header-image">
           <img src="#" alt="header-image">
        </div>
    </header>

    {% block body %}
    {% endblock%}

    <footer>

    </footer>
</body>
</html>