<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navlist">
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="accounts.html">My Account</a></li>
                <li><a href="orders.html">My Orders</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="return.html">Returns</a></li>
                <li><a href="chat.html">Chat</a></li>
                <li></li>
            </ul>
        </nav>
    </header>

    {% block body %}
    {% endblock%}

    <footer>

    </footer>
</body>
</html>