{% extends 'base.html' %}
{% block body %}
    <main>
        <h1 class="page-title">Your Cart</h1>
        <div class="cart container">
            {% for item in cartItems%}
                <div class="cart-item-card">
                    <div class="cart-item">
                        <div class="cart-img">
                            <img src="../static/images/grass.jpg" alt="{{item[3]}}">
                        </div>
                        <div class="cart-info">
                            <p>{{item[3]}}</p>
                            <p>${{item[8]}}</p>
                        </div>
                    </div>
                    
                    <div class="cartitem-form">
                        <form>
                            <button type="button" class="ad-btn">Remove</button>
                        </form>
                    </div>
                </div>
                <hr>
            {% endfor %}
            
            <form method="POST">
                <button type="button" class="ad-btn">Order!</button>
            </form>
        </div>
    </main>
{% endblock %}