{% extends 'base.html' %}
{% block body %}
    <main>
        <h1>Welcome to the Minecrƒft store!</h1>
        <section id="5grid-1" class="flex">
            <div class="product-card">

            </div>
            <div class="product-card">
                
            </div>
            <div class="product-card">
                
            </div>
            <div class="product-card">

            </div>
            <div class="product-card">
                
            </div>
        </section>

        <section id="advertisement-1">
            <div class="ad-text-box">
                <h2>Shop Plushies here!</h2>
                <p>A plush for everyone!</p>
                <a href="shop.html"><button class="ad-btn">Shop Here!</button></a>
            </div>
        </section>

        <section id="5grid-2" class="flex">
            <div class="product-card">

            </div>
            <div class="product-card">
                
            </div>
            <div class="product-card">
                
            </div>
            <div class="product-card">
                
            </div>
            <div class="product-card">
                
            </div>
        </section>
        
        <section id="advertisement-2">
            <div class="ad-text-box">
                <h2>A Minecraft Movie</h2>
                <p>MERCH OUT NOW!</p>
                <a href="shop.html"><button class="ad-btn">Shop Here!</button></a>
            </div>
        </section>
    </main>
{% endblock %}