<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body id="register">
      <img class="loginLogo" src="../static/Images/logo.png"alt="Minecraft logo">
      <div class="form-container">

        {% if error %}
        <p class="error-message">{{ error }}</p>
      {% endif %}
      {% if success %}
        <p class="success-message">{{ success }}</p>
      {% endif %}
      
       <form class="register" method="POST" action="/register">
            <h1>Sign Up</h1>
            <input type="text" name="Name" placeholder="Full Name" class="register_input"><br>
            <input type="text" name="Email" placeholder="Email" class="register_input"><br>
            <input type="text" name="Username" placeholder="Username" class="register_input"><br>
            <input type="text" name="Password" placeholder="Password" class="register_input"><br>

            <select name="account_type" class="register_input">
              <option value="customer">Customer</option>
              <option value="vendor">Vendor</option>
            </select><br>

            <input type="submit" value="Submit" class="input_submit">
            <a class="login" href="login.html">Already have an account?</a>
        </form>
        <a href="home.html">TEMP HOME LINK</a>
</body>

</html>