{% extends 'base.html' %}
{% block body %}
    <main>
        <h1 class="page-title">Item Details</h1>
        <div class="item-btn"><a href="shop.html"><button type="button" class="ad-btn">Back to Shop</button></a></div>
        
        {% if error %}
            <p class="error">{{error}}</p>
        {% elif success %}
            <p class="error">{{success}}</p>
        {% endif %}

        <div class="item-info container">
            <div class="item-img">
                <img src="{{ session['itemImage'] }}" alt="{{ session['itemName'] }}">
            </div>
            <div class="item-text">
                <h2>{{ session['itemName'] }}</h2>
                <p>${{ session['price'] }}</p>
                <h3>ITEM DESCRIPTION:</h3>
                <p>{{ session['itemDesc'] }}</p>
                <div class="item-characteristics">
                    <div class="colors">
                        <h3>Colors:</h3>
                        <select name="item_color" id="item_color" form="item-characteristics">
                            {% for color in colors %}
                                <option value="{{color}}">{{color}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="sizes">
                        <h3>Sizes:</h3>
                        <select name="item_size" id="item_size" form="item-characteristics">
                            {% for size in sizes %}
                                <option value="{{size}}">{{size}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if inventory and inventory > 0 %}
                    <h3>Availability: {{inventory}}</h3>
                    <form action="/item.html" method="POST" id="item-characteristics">
                        <input type="hidden" name="id" value="{{ session['itemID'] }}">
                        <button type="submit" class="ad-btn">Add To Cart</button>
                    </form>
                {% elif inventory == 0%}
                    <h3>Out of Stock</h3>
                {% endif %}
            </div>
        </div>
        <div class="product-reviews container">
            <h1>Product Reviews</h1>
            <form action="/item.html" method="GET">
                <select name="filterRating" id="filterRating">
                    <option value="">All</option>
                    <option value="5">5 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="2">2 Stars</option>
                    <option value="1">1 Stars</option>
                </select>

                <select name="sortBy" id="sortBy">
                    <option value="date_desc">Date (Newest)</option>
                    <option value="date_asc">Date (Oldest)</option>
                    <option value="rating_desc">Rating (Highest)</option>
                    <option value="rating_asc">Rating (Lowest)</option>
                </select>

                <button type="submit" class="ad-btn">Apply</button>
            </form>
            {% if reviewList %}
                
                {% for review in reviewList %}
                    <div class="review-info">
                        <h2>{{review.ratingTitle}}</h2>
                        <p>By: {{review.name}}</p><p>Made: {{review.Date}}</p>
                        {% for i in range (review.Rating)%}
                            <img src="../static/images/nether-star.gif" alt="rating-star" class="rating-star">
                        {% endfor %}
                        <div class="flex">
                            <img src="{{review.Image}}" alt="review image">
                            <p>{{review.Description}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-reviews">It seems like there are no reviews for this product.</p>
            {% endif %}
        </div>
    </main>
{% endblock %}