{% extends 'base.html' %}
{% block body %}
    <main>
        <h1 class="page-title">Item Details</h1>
        <div class="item-btn"><a href="shop.html"><button type="button" class="ad-btn">Back to Shop</button></a></div>
        
        {% if error %}
            <p class="error">{{error}}</p>
        {% elif success %}
            <p class="error">{{success}}</p>
        {% endif %}

        <div class="item-info container">
            <div class="item-img">
                <img src="{{ session['itemImage'] }}" alt="{{ session['itemName'] }}">
            </div>
            <div class="item-text">
                <h2>{{ session['itemName'] }}</h2>
                <p>${{ session['price'] }}</p>
                <h3>ITEM DESCRIPTION:</h3>
                <p>{{ session['itemDesc'] }}</p>
                <div class="item-characteristics">
                    <div class="colors">
                        <h3>Colors:</h3>
                        <ul>
                            <li>Color 1</li>
                            <li>Color 2</li>
                            <li>Color 3</li>
                            {% for color in colors %}
                            <li>{{color}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="sizes">
                        <h3>Sizes:</h3>
                        <ul>
                            <li>Size 1</li>
                            <li>Size 2</li>
                            <li>Size 3</li>
                            {% for size in sizes %}
                            <li>{{size}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if inventory %}
                    <h3>Availability: {{inventory}}</h3>
                {% elif inventory %}
                    <h3>Out of Stock</h3>
                {% endif %}

                <form action="/item.html" method="POST">
                    <input type="hidden" name="id" value="{{ session['itemID'] }}">
                    <button type="submit" class="ad-btn">Add To Cart</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}