<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body id="register">
        <img class="loginLogo" src="../static/Images/logo.png"alt="Minecraft logo">

      <div class="form-container">

        <form class="register" method="POST" action="{{ url_for('login') }}">
            <h1>Log In</h1>
            {% if error %}
            <p class="error">{{error}}</p>
            {% endif %}<br>
            <input type="text" name="Email" placeholder="Email" class="register_input"><br>
            <input type="password" name="Password" placeholder="Password" class="register_input"><br>

            <input type="submit" value="Submit" class="input_submit">
            <a class="login" href="/">Back to sign up!</a>
        </form>
      </div>

</body>

</html>