{% extends 'base.html' %}
{% block body %}
    <main>
        <h1 class="page-title">Products for everyone!</h1>
        <div class="product-container">
            <div class="filters">
                <h2>Filters</h2>

                <h3>Category</h3>
                <form>
                    <label><input type="checkbox"> Clothing</label><br>
                    <label><input type="checkbox"> Toys</label><br>
                    <label><input type="checkbox"> Plushes</label><br>
                    <label><input type="checkbox"> Video Games</label><br>
                </form>

                <h3>Color</h3>
                <form>
                    {% for color in product_colors %}
                        <label><input type="checkbox"> {{color}}</label><br>
                    {% endfor %}
                </form>

                <h3>Size</h3>
                <form>
                    {% for size in product_sizes %}
                        <label><input type="checkbox"> {{size}}</label><br>
                    {% endfor %}
                </form>

                <h3>Availability</h3>
                <form>
                    <label><input type="checkbox"> In Stock</label><br>
                    <label><input type="checkbox"> Out of Stock</label><br>
                </form>
            </div>
            <div class="product-list flex">
                {% for product in products %}
                    <div class="product-card">
                        <img src="../static/images/grass.jpg" alt={{product[2]}}>
                        <p>{{product[2]}}</p>
                        <p>{{product[7]}}</p>
                        <button class="ad-btn">View Item!</button>
                    </div>
                {% endfor %}
            </div> 
        </div>
    </main>
{% endblock %}