{% extends 'base.html' %}
{% block body %}
    <main>
        <h1 class="page-title">Products for everyone!</h1>
        <div class="product-container">
            <div class="filters">
                <form method="get" action="{{ url_for('loadshop') }}" class="searchbar-form">
                    <input type="text" name="search" value="{{ request.args.get('search', '') }}" placeholder="Search.." class="searchbar" autocomplete="off">
                    <button type="submit" class="search-submit">Submit</button>
                </form>
                <h2>Filters</h2>

                <form id="filter-form" method="get" action="{{ url_for('loadshop')}}">
                    <h3>Category</h3>
                    {% for category in product_categories %}
                        <label><input type="checkbox" name="category" value="{{category}}" {% if category in request.args.getlist('category') %}checked{%endif%}> {{category}}</label><br>
                    {% endfor %}

                    <h3>Color</h3>
                    {% for color in product_colors %}
                        <label><input type="checkbox" name="color" value="{{color}}" {% if color in request.args.getlist('color') %}checked{%endif%}> {{color}}</label><br>
                    {% endfor %}

                    <h3>Size</h3>
                    {% for size in product_sizes %}
                        <label><input type="checkbox" name="size" value="{{size}}" {% if size in request.args.getlist('size') %}checked{%endif%}> {{size}}</label><br>
                    {% endfor %}

                    <h3>Availability</h3>
                    <label><input type="checkbox" name="availability" value="In Stock" {% if 'In Stock' in request.args.getlist('availability') %}checked{%endif%}> In Stock</label><br>
                    <label><input type="checkbox" name="availability" value="Out of Stock" {% if 'Out of Stock' in request.args.getlist('availability') %}checked{%endif%}> Out of Stock</label><br>
                </form>
            </div>
            <div class="product-list flex">
                {% for product in products %}
                    <div class="product-card">
                        <img src="{{product.Image}}" alt={{product.Title}}>
                        <p>{{product.Title}}</p>
                        <p>${{product.Discount_Price}}</p>
                        <form action="{{ url_for('saveiteminfo') }}" method="POST">
                            <input type="hidden" name="id" value="{{ product.productID }}">
                            <input type="hidden" name="name" value="{{ product.Title }}">
                            <input type="hidden" name="price" value="{{ product.Discount_Price }}">
                            <input type="hidden" name="description" value="{{ product.Description }}">
                            <input type="hidden" name="image" value="{{product.Image}}">
                            <button type="submit" class="ad-btn">View Item!</button>
                        </form>
                    </div>
                {% endfor %}
            </div> 
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('filter-form');
            form.querySelectorAll('input[type=checkbox]').forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    form.submit();
                });
            });
        });
    </script>
{% endblock %}