{% extends 'base.html' %}
{% block body %}
    <main>
        <h1 class="page-title">Thƒnk you for purchasing from the Unofficial Minecraft store!</h2>
        <div class="checkout-container container">
            <h2>You can check your order information by clicking "My Orders" above!</h2>
            <br>
            <p>Would you like to leave a review on a product?</p>
            <br>
            <a href="reviews.html"><button type="button" class="ad-btn">Leave a review here!</button></a>
        </div>
    </main>
{% endblock %}