/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}
:root {
    --backgroundColor: #313131;
    --secondaryColor: #171615;
    --textColor: #fff;
    --accentGreen: #87D671;
    --accentBlue: #54D0F2;
    --accentRed: #B21F24;
}
html {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
img {
    max-width: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 36px;
    text-align: center;
}
h2 {
    font-size: 24px;
}
p {
    font-size: 16px;
}
a {
    color: var(--accentGreen);
}

/* Styles for header*/
header {
    background-color: var(--secondaryColor);
}
.header-image {
    background-image: url('../Images/minecraft-movie-theatrical-trailer-banner.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

/* Styles for nav */
nav {
    padding: 20px 0;
}
.navlist {
    display: flex;
    justify-content: space-evenly;
}
.navlist li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
}
.navlist a {
    text-decoration: none;
    color: var(--textColor);
}

.navlist a:hover {
    color: var(--accentGreen);
}

/* Styles for main */
main {
    padding: 20px;
}

/* Styles for footer */
footer {
    background-color: var(--secondaryColor);
    font-size: 14px;
}
footer h2 {
    font-size: 16px;
}
.socials {
    padding: 20px 0;
}
.social-icons ion-icon {
    color: var(--textColor);
    font-size: 40px;
    margin: 0 10px;
}
.social-icons ion-icon:hover {
    color: var(--accentGreen)
}
.footer-links {
    padding: 20px 0;
}
.newsletter input {
    padding: 5px;
    margin-top: 3px;
    border: 1px solid var(--accentGreen);
    background-color: var(--secondaryColor);
    color: var(--textColor);
}
input.news-btn {
    background-color: var(--accentGreen);
    color: var(--secondaryColor);
    cursor: pointer;
}
.footer-links.flex {
    justify-content: space-evenly;
    align-items: start;
}
.socials {
    background-color: #000;
    text-align: center;
}
.f-navlist {
    margin-bottom: 5px;
    list-style-type: none;
}
.copyright {
    padding-bottom: 20px;
    text-align: center;
}
.copyright p {
    font-size: 10px;
}