/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}
:root {
    --backgroundColor: #313131;
    --secondaryColor: #171615;
    --textColor: #fff;
    --accentGreen: #87D671;
    --accentBlue: #54D0F2;
    --accentRed: #B21F24;
}
html {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
img {
    max-width: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.flex {
    display: flex;
}
h1 {
    font-size: 36px;
    text-align: center;
}
h2 {
    font-size: 24px;
}
p {
    font-size: 20px;
}
a {
    color: var(--accentGreen);
}

/* Styles for header*/
header {
    background-color: var(--secondaryColor);
}

/* Styles for nav */
.navlist {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}
.navlist li {
    list-style-type: none;
    font-size: 18px;
}
.navlist a {
    text-decoration: none;
    color: var(--textColor);
}

.navlist a:hover {
    color: var(--accentGreen);
}

/* Styles for footer */
footer {
    background-color: var(--secondaryColor);
    font-size: 14px;
    padding: 15px 0;
}

img {
    max-width: 100%;
}
.header-image {
    background-image: url('../Images/minecraft-movie-theatrical-trailer-banner.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.f-navlist {
    margin-bottom: 5px;
}
.copyright {
    font-size: 10px;
    text-align: center;
}

.form-container {
    margin: 0 auto;
    align-items: center;
    background-color: rgba(49, 49, 49, 0.85); /* 0.5 = 50% opacity */
    padding: 30px 100px 50px 100px;  
    
}


.register_input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 80px 10px 5px;
    border: 2px solid var(--accentGreen);
    background-image: url('../Images/pack_3530346.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1); /* dark veil */
    background-blend-mode: overlay;
    color:#fff;
    font-family: 'MinecraftSeven', sans-serif;
    font-size: .8em;
}

.loginLogo {
    max-width: 25%;
    margin: 0 auto;
}

.login {
    display: block;
    font-size: .8em;
    margin-top: 5px;
}

.login:hover {
    color: #c9efbf;
}

input::placeholder {
    color: #fff;
    
}



.input_submit {
    background-color: var(--secondaryColor);
    padding: 10px 25px;
    color: #fff;
    text-align: center;
    font-size: .8em;
    font-family: 'MinecraftSeven', sans-serif;
}

.input_submit:hover {
    background-color: #313131;
}

#register {
    background-image: url('../Images/realbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

@font-face {
    font-family: 'MinecraftSeven'; /* This is the name you will use */
    src: url('../fonts/Minecraft-Seven_v2.ttf') format('truetype'); /* Path to your font */
    font-weight: normal;
    font-style: normal;
}


.register h1 {
    font-family: 'MinecraftSeven', sans-serif;
    margin-bottom: 15px;
}

.register a {
    font-family: 'MinecraftSeven', sans-serif;
}